<div class="row row--gutters column career-list">
	{% for opening in site.careers %}
	<div class="row">
		<div class="column small-16 medium-expand align-self-middle column-no-left-padding">
	    <a href="{{ opening.url | relative_url }}" class="career-list-link">
	      {{ opening.title | escape }}
	    </a>
	  </div>
	  <div class="column show-for-medium shrink align-self-top career-list-details">
    	<div>
    		<span class="fa fa-graduation-cap" title="Experience" aria-hidden="true"></span>
      	<span class="sr-only">Experience:</span>
      	{{ opening['Experience'] }}
    	</div>
			<div>
      	<span class="fa fa-sitemap" title="Department" aria-hidden="true"></span>
      	<span class="sr-only">Department:</span>
      	{{ opening['Department'] }}
      </div>
    </div>
    <div class="column show-for-large shrink align-self-top career-list-details">
    	<div>
    		<span class="fa fa-map-marker" title="Location" aria-hidden="true"></span>
      	<span class="sr-only">Location:</span>
      	{{ opening['Location'] }}
    	</div>
    	<div>
    		<span class="fa fa-clock-o" title="Type" aria-hidden="true"></span>
      	<span class="sr-only">Type:</span>
      	{{ opening['Type'] }}
    	</div>
	  </div>
	</div>
	{% endfor %}
</div>