<div class="row row--gutters column contract-list">
  <h2 class="CL--title">Prime Contract Vehicle</h2>
  {% assign primeContracts = site.contracting-vehicles | sort: 'position' | where: 'Is Prime Contract', true | group_by: 'Agency' %}
  {% for agency in primeContracts %}
    <h3 class="CL--agency">{{ agency.name }}</h3>
    <ul>
      {% for contracts in agency.items %}
      <li>{{ contracts['Full Title'] | escape }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <h2 class="CL--subtitle">Other Contractual Mechanisms</h2>
  {% assign otherContracts = site.contracting-vehicles | sort: 'position' | where: 'Is Prime Contract', false | group_by: 'Agency' %}
  {% for agency in otherContracts %}
    <h3 class="CL--agency">{{ agency.name }}</h3>
    <ul>
      {% for contracts in agency.items %}
      <li>
        {{ contracts['Full Title'] | escape }}
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
