<div class="row row--gutters column">
	<div class="row">
		<div class="medium-5 column">
			<span class="fa fa-phone-square" aria-hidden="true"></span>
			{{ page['Contact Details']['Phone Number']}}
		</div>
		<div class="medium-6 column">
			<span class="fa fa-envelope-square" aria-hidden="true"></span>
			{{ page['Contact Details']['General Email']}}
		</div>
		<div class="medium-5 column">
			<span class="fa fa-users" aria-hidden="true"></span>
			{{ page['Contact Details']['Jobs Email']}}
		</div>
	</div>
	<div class="row" style="background-color:#eee;margin-top:20px;">
		<div class="column" style="height:500px;">
			need to add form that will send emails to <strong>{{ page['Contact Details']['Form Delivery Email']}}</strong>
		</div>
	</div>
</div>