<footer class="site-footer">

  <div class="row">

    <div class="small-12 medium-6 column">
      <p>&#169; {{site.time | date: '%Y' }} {{ site.title | escape }} All Rights Reserved.</p>
    </div>
      
    <div class="small-12 medium-6 column">
      <div class="float-right">
        {% assign footerNav_pages = site.html_pages | sort: 'footer_navigation_order' %}
        {% for p in footerNav_pages %}
          {% if p.footer_navigation_order %}
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
              {{ p.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>

</footer>
