//foundation included
@import "font-awesome";

html, body {height:100%;}






/**
https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding:0;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 0; //should be same as padding-top
  height: 0px;
  visibility: hidden;
}

.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}




.row {/*max-width:78rem;*/}
.row--gutters {max-width:48.75rem;}
.site-header {
  background-color: #003045;
  & > .row {position: relative;}
  .site-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 28px;
  }
}
.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  .nav-trigger {display: none;}
  .menu-icon {display: none;}

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-top: 38px;
  }

  .nav-menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: #fff;
    }
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    background-color: #284460;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 150px;
  }

  .trigger {
    h2 {color:#fff;}
    ul {list-style-type:none;}
    a {color:#7dcba7;text-decoration: none;}
  }
}
.home {
  &.site-header {
    min-height: 650px;
    background: #003045 url(/assets/images/background-homepage.jpg) no-repeat bottom center;
    background-size: cover;
  }
  .hero {
    color: #fff;
    text-align: center;
    padding:200px 220px 0;
    .allcaps {
      font-size: 50px;
      text-transform: uppercase;
    }
    p {
      font-size:21px;
    }
  }
  .insights {min-height:400px;}//temporary fix to fill space until blog posts have images and such
  .practice-areas {
    background-color: #007cb7;
    .PA--icon-list {
      list-style-type: none;
      margin: 0;
      li {margin:0;}
      a {
        text-align: center;
        color: #fff;
        font-weight: bold;
        display: block;
        line-height: 1.2;
        margin-top: 60px;
        img {
          display: block;
          margin:0 auto 10px;
        }
      }
    }
  }
}
.title-row-title {
  text-align: center;
  text-transform: uppercase;
  color: #7dcba7;
  font-size:1.1rem;
  margin-top: 6rem;
  margin-bottom: 0;
}
.title-row-subtitle {
  text-align: center;
  text-transform: uppercase;
  color:#fff;
  font-size:2rem;
  padding-bottom: 2rem;
  margin-bottom:0;
}
.site-footer {
  margin-top:6rem;
  background-color: #007cb7;
  color: #fff;

  .column {
    padding-top:45px;
    padding-bottom: 40px;

    p {
      color: #fff;
      margin-bottom: 0;
      & + p {margin-top: 1rem;}
    }

    ul.link-list {
      float: right;
      margin:0;
      list-style-type: none;
      li {
        display: inline-block;
        position: relative;

        & + li {
          padding-left: 12px;
          margin-left: 12px;
          &:before {
            content: "";
            width: 1px;
            height: 13px;
            background-color: #fff;
            position: absolute;
            left: -2px;
            top: 6px;
          }
        }
      }
    }
    a {
      color:#fff;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.page {
  &.site-header {
    min-height: 350px;
    background: #003045 url(/assets/images/background-network.jpg) no-repeat bottom center;
    background-size: cover;
  }
  .tabs-container {
    background-color: #e0eff6;
    position: relative;
    & > .tabs {
      background-color: #e0eff6;
      max-width: 78rem;
      margin-left: auto;
      margin-right: auto;
      border: 0;

      .tabs-title {
        & > a {
          color:#28445f;
          text-align: center;
          font-size: 1rem;
          font-weight: bold;
          position: relative;
          padding: 1.2rem 0.2rem;
        }
        & > a:focus,
        & > a:hover {
          background-color: #d6e9f4;
          color:#28445f;
          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: rgba(125, 203, 167, 0.5);
            position: absolute;
            bottom: -5px;
            left: 0;
          }
        }
        & > a[aria-selected=true],
        &.is-active a {
          background-color: #c8e2ef;
          color:#28445f;
          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: #7dcba7;
            position: absolute;
            bottom: -5px;
            left: 0;
          }
        }
      }
      &.tabs-gutter {
        max-width:48.75rem;
      }
      &.tabs-6-up {
        .tabs-title {width: 16.6%;}
      }
      &.tabs-4-up {
        .tabs-title {width: 25%;}
      }
    }
  }
  .tabs-content {
    border: 0;
    background-color: #fff;
    color: #000;
  }
  .tabs-panel {
    padding:80px 1rem;
    .page-title {
      margin-top: 0;
    }
  }
  .page-title {
    font-size: 2.3rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .page-highlight {
    line-height: 1.2;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
  .page-banner {margin-bottom:2.5rem;}
  .back-link {
    display: inline-block;
    font-style: italic;
    margin-top:4rem;
    & + .page-title {margin-top: 1rem;}
  }

  blockquote {
    float: right;
    width: 40%;
    border-left: 0;
    position: relative;
    padding: 16px 16px 16px 0;
    line-height: 1;
    margin: 0 -218px 0 20px;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 44%;
      height: 8px;
      background-color: #7dcba7;
    }
    p {
      margin-bottom:0;
      & + p {margin-top:1rem;}
    }
  }
}

.site {
  .button {
    border:2px solid #7dcba7;
    padding:16px 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    border-radius:0;
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
}


//team list
.team-list-block {
  list-style-type: none; 
  .tl-title {font-size: 20px;}
  .tl-subtitle {font-size: 16px;}

}

//office locations
.row--office-locations {
  margin-top: 4rem;
  p.location-address {white-space: pre;}
  p.location-phone {
    margin-right: 100px;
    .fa {margin-right: 5px;}
  }
}

//practice areas
.link-list {
  list-style-type: none;
}
ul.posts {
  margin-left: 0;
  margin-bottom: 20px;
}
li.post {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 2px solid #c8e2ef;
  padding-bottom: 30px;
  .post-category {
    color:#000;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
  }
  .post-title {
    color: #007cb7;
    font-size: 21px;
    line-height: 1.4;
  }
  .post-details {
    color: #28445f;
    font-weight: bold;
    .post-detail {
      display: inline-block;
      &:before {
        content:"";
        border-left:1px solid #53697f;
        height:1em;
        width: 1px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
        position: relative;
        top: 3px;
      }
      &:first-child:before {display: none;margin:0;}
    }
  }
}
.page-banner.practice-area {
  position: relative;
  .icon-wDarkEllipse {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    line-height: 100px;
  }
}


@media screen and (min-width: 89em) {
  .page {
    &.site-header {
      background-repeat: repeat-x;
      background-size: contain;
    }
  }
}
