//foundation included
@import "font-awesome";


/*
.font-brandon {
  font-family: "brandon-grotesque",sans-serif;
  font-weight:300; //light
  font-weight:400; //regular
  font-weight:700; //bold
}

.font-vista-slab-book {
  font-family: "vista-slab", sans-serif;
  font-weight: 300;
}
*/
$font-brandon: "brandon-grotesque", sans-serif;
$font-vista: "vista-slab", sans-serif;

html, body {
  height:100%;
  font-family: $font-brandon;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-brandon;
  line-height: 1.3;
}
.font-brandon {font-family: $font-brandon;}
.font-vista {font-family: $font-vista;}

/**
https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding:0;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 0; //should be same as padding-top
  height: 0px;
  visibility: hidden;
}

.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}




.row {/*max-width:78rem; foundation adds this */}
.row--gutters {max-width:48.75rem;}
.site-header {
  background-color: #003045;
  & > .row {position: relative;}
  .site-title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 28px;
  }

  .banner-section-title {
    text-align: center;
    text-transform: uppercase;
    color: #7dcba7;
    font-size:21px;
    letter-spacing:.1em;
    font-weight: 700;
    margin-top: 88px;
    margin-bottom: 0;
  }
  .banner-page-title {
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size:41px;
    letter-spacing:.18em;
    font-weight: 700;
    padding-bottom: 2rem;
    margin-bottom:0;
    margin-top: -6px;
    &.no-section-title {margin-top:120px;}
  }
}
.site-footer {
  text-align: center;
  background-color: #007cb7;
  color: #fff;
  .column {
    padding-top: 35px;
    padding-bottom: 25px;

    p {
      color: #fff;
      font-size: 15px;
      margin-bottom: 0;
      & + p {margin-top: 1rem;}
    }

    ul.link-list {
      float: none;
      margin:0 0 15px;
      list-style-type: none;
      li {
        display: inline-block;
        position: relative;

        & + li {
          padding-left: 12px;
          margin-left: 12px;
          &:before {
            content: "";
            width: 1px;
            height: 13px;
            background-color: #fff;
            position: absolute;
            left: -2px;
            top: 6px;
          }
        }
      }
    }
    a {
      color:#fff;
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
.site {
  .button {
    border:2px solid #007cb7;
    padding:16px 30px;
    text-align: center;
    text-transform: uppercase;
    color: #28445f;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #fff;
    border-radius:0;
    min-width: 100%;
    letter-spacing: .1em;
    &:focus,
    &:hover {
      background-color: #fff;
    }

    &.button-inverse {
      border-color:#7dcba7;
      color: #fff;
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
  .icon-wBlueEllipse {
    background-color: rgba(102, 176, 211, 0.7);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .background-lightBlue {
    background-color:#e0eff6;
  }
}


//home page styles
.home {
  &.site-header {
    min-height: 650px;
    background: #003045 url(/assets/images/background-homepage.jpg) no-repeat bottom center;
    background-size: cover;
  }
  .trigger {min-height: 648px;}
  .hero {
    color: #fff;
    text-align: center;
    .hero--content {
      max-width: 890px;
      display: inline-block;
      padding-top:62px;
    }
    .hero--button {
      display: block;
    }
    .allcaps {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .2em;
      margin-bottom:32px;
    }
    p {
      font-size:20px;
      margin-bottom: 18px;
      display: inline-block;
      max-width: 790px;
      @extend .font-vista;
    }
  }
  .insights {
    min-height:320px; //temporary fix to fill space until blog posts have images and such
    padding-top:80px;
    padding-bottom:80px;
  }
  .practice-areas {
    background-color: #007cb7;
    .PA--content {
      padding-top:80px;
      padding-bottom:0;
      color:#fff;

      p {
        @extend .font-vista;
        font-size: 17px;
      }
      .button {
        min-width: 100%;
        max-width:300px;
      }
    }
    .PA--title {
      font-size:26px;
      font-weight: 700;
      color:#bbe0ff;
    }
    .PA--subtitle {
      font-size: 38px;
      font-weight: 700;
      letter-spacing: .09em;
      text-transform: uppercase;
      margin: 9px 0 19px;
      line-height: 1;
    }

    .PA--icon-list {
      list-style-type: none;
      margin: 10px 0 20px;
      li {margin:0;}
      a {
        text-align: center;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        display: block;
        line-height: 1.2;
        margin-bottom: 40px;
        min-height: 150px;
        padding-top: 20px;
        img {
          display: block;
          margin:0 auto 10px;
        }
        .PA--icon-title {
          display: inline-block;
          max-width: 210px;
        }
      }
      .column:nth-child(3),
      .column:nth-child(6) {
        .PA--icon-title {max-width:180px;}
      }
    }
  }
  .projects {
    background: transparent url(/assets/images/background-projects.png) no-repeat 100px top;
    margin-top: 80px;
    padding-bottom: 80px;
    background-size: cover;

    .projects--title {
      font-weight: 700;
      font-size:26px;
      color: #284460;
    }
    .projects--title-allcaps {
      font-size: 38px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
    p {
      @extend .font-vista;
      font-size: 17px;
    }
  }
}



//page styles
.page {
  &.site-header {
    min-height: 350px;
    background: #003045 url(/assets/images/background-network.jpg) no-repeat bottom center;
    background-size: cover;
  }
  .tabs-container {
    background-color: #e0eff6;
    position: relative;
    & > .tabs {
      background-color: #e0eff6;
      max-width: 78rem;
      margin-left: auto;
      margin-right: auto;
      border: 0;

      .tabs-title {
        & > a {
          color:#28445f;
          text-align: center;
          position: relative;
          font-size: 20px;
          font-weight: 700;
          padding: 30px 3px;
        }
        & > a:focus,
        & > a:hover {
          background-color: #d6e9f4;
          color:#28445f;
          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: rgba(125, 203, 167, 0.5);
            position: absolute;
            bottom: -5px;
            left: 0;
          }
        }
        & > a[aria-selected=true],
        &.is-active a {
          background-color: #c8e2ef;
          color:#28445f;
          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: #7dcba7;
            position: absolute;
            bottom: -5px;
            left: 0;
          }
        }
      }
      &.tabs-gutter {
        max-width:48.75rem;
      }
      &.tabs-6-up {
        .tabs-title {width: 16.6%;}
      }
      &.tabs-4-up {
        .tabs-title {width: 25%;}
      }
    }
  }
  .tabs-content {
    border: 0;
    background-color: #fff;
    color: #000;
  }
  .tabs-panel {
    padding:80px 0 0;
    .page-title {
      margin-top: 0;
    }
  }
  .content {
    padding-bottom:80px;
    &.content-noBottomPadding {
      padding-bottom:0;
      .content-bottomPadding {padding-bottom:80px;}
    }
  }
  
  //generic styles
  h1 {
    font-size: 32px;
    margin-top: 28px;
    font-weight: 300;
  }
  h2 {
    font-size: 26px;
    margin-top: 28px;
    font-weight: 700;
    color: #555;
  }
  h3 {
    font-size: 23px;
    font-weight: 700;
    color:#7dcba7;
  }
  p {
    @extend .font-vista;
    font-size: 17px;
    margin-bottom:23px;
    line-height: 1.5;
    font-weight: 300;
  }
  ul {
    margin:0 0 1rem;
    list-style-type: none;
    li {
      padding:0;
      font-size: 17px;
      line-height: 25px;
      margin-bottom:14px;
      @extend .font-vista;
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f111";
        margin-right: 10px;
        color: #7dcba7;
        font-size: 9px;
        line-height: 25px;
        position: relative;
        top: -2px;
      }
    }
  }
  ol {
    margin:0 0 1rem;
    li {
      padding:0;
      font-size: 17px;
      line-height: 25px;
      margin-bottom:14px;
      @extend .font-vista;
      color: #7dcba7;
      span {
        color:#555;
      }
    }
  }

  blockquote {
    float: right;
    width: 50%;
    border-left: 0;
    position: relative;
    padding: 16px 0;
    line-height: 1.2;
    margin: 0 0 0 20px;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 44%;
      height: 6px;
      background-color: #7dcba7;
    }
    p {
      @extend .font-brandon;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.2;
      & + p {margin-top:1rem;}
    }
  }

  .page-title {
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    letter-spacing:.025em;
    margin-top: 4rem;
    margin-bottom: 36px;
  }
  .page-highlight {
    color:#28445f;
    line-height: 1.2;
    font-size: 26px;
    margin-top: -6px;
    margin-bottom: 40px;
    font-weight: 400;
  }
  .page-banner + .page-highlight {margin-top:60px;}
  .page-highlight + .page-banner {margin-bottom:60px;}
  .back-link {
    display: inline-block;
    font-style: italic;
    margin-top:4rem;
    font-size: 17px;
    font-weight: 700;
    & + .page-title {margin-top: 19px;}
  }
}


//#########
//navigation styles
.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  .nav-trigger {display: none;}
  .menu-icon {display: none;}

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-top: 38px;
    outline: 0;
    .sr-only {top: 5px;left: 5px;}
  }

  .nav-menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 7px;
    text-align: center;

    > svg path {
      fill: #fff;
    }
    .fa {color: #fff;font-size: 28px;}
    .nav-menu-close {display: none;}
  }

  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  input ~ .trigger {
    display: block;
    padding-bottom: 20px;
    background-color: #284460;
    box-shadow: 1200px 0px 0px 0px #284460, -1200px 0px 0px 0px #284460;
    position: relative;
    top:0;
    z-index: 1;
    width: 100%;
    padding-top: 130px;
    animation-duration: 0;
    animation-fill-mode: both;
    animation-name: slideOutUp;
  }

  input:checked ~ .trigger {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: slideInDown;
  }
  input:not(:checked) {
    &:focus ~ .trigger,
    &:hover ~ .trigger {
      animation-duration: .4s;
    }
  }

  input:checked ~ label {
    .fa {display: none;}
    .nav-menu-close {display: inline-block;}
  }
  input:not(:checked) ~ label {
    .fa {display: inline-block;}
    .nav-menu-close {display: none;}
  }

  .trigger {
    .row {margin-left:0;margin-right:0;}
    h2 {
      color:#fff;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 6px;
    }
    ul {
      list-style-type:none;
      margin-left:0;
    }
    li {margin-bottom:10px;}
    a {
      color:#7dcba7;
      text-decoration: none;
      font-size: 18px;
      letter-spacing:.01em;
      line-height: 1.3;
      font-weight: 700;
    }
    a.post-button {
      border: 2px solid #7dcba7;
      color: #fff;
      padding: 8px 20px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      margin-top: 20px;
      display: inline-block;
    }
    .post-details {
      color: #fff;
      font-weight: 400;
      font-size:15px;
      display: block;
      .post-detail {
        display: inline-block;
        &:before {
          content:"";
          border-left:1px solid #bdd2e6;
          height:1em;
          width: 1px;
          display: inline-block;
          margin-right: 10px;
          margin-left: 5px;
          position: relative;
          top: 3px;
        }
        &:first-child:before {display: none;margin:0;}
      }
    }
  }
}


//#########
//page specific styles

//contract list
.contract-list {
  .CL--title {
    font-size: 30px;
    color: #28445f;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
    letter-spacing: .025em;
  }
  .CL--agency {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
  }
  .CL--subtitle {
    font-size: 17px;
    color: #555;
    font-style: italic;
    font-weight: 700;
    border-top:2px solid #c8e2ef;
    padding-top:24px;
    margin-top: 26px;
  }
  ul {
    margin-left:0;
    margin-bottom:3px;
    list-style-type: none;
  }
  li {
    margin-bottom: 8px;
    color:#555;
  }
  ul + .CL--agency {
    border-top:2px solid #c8e2ef;
    padding-top:24px;
  }
}

//team list
.headshot-thumbnail {
  float:right;
  margin:0 0 10px 20px;
}
.team-list-block {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
  .tl-title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 3px;
    color: #28445f;
    font-weight: 400;
  }
  .tl-subtitle {
    font-size: 15px;
    color: #6c7c8c;
    font-weight: 700;
  }
}

//office locations
.row--office-locations {
  margin-top: 4rem;
  .OL--title-block {
    position: relative;
    margin-bottom:24px;
    .OL--title {
      position: absolute;
      bottom:50px;
      left: 0;
      width:100%;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      text-align: center;

      &:after {
        content: " ";
        position: absolute;
        bottom: -26px;
        left: 50%;
        width: 80px;
        height: 4px;
        background-color: #7dcba7;
        margin-left: -40px;
      }
    }
  }
  p.OL--address {
    white-space: pre;
    @extend .font-brandon;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
  }
  p.OL--phone {
    margin-right: 100px;
    @extend .font-brandon;
    font-size: 18px;
    font-weight: 400;
    color:#555;

    .fa {
      margin-right: 5px;
      font-size: 16px;
      color:#66b0d3;
    }
  }
}

//practice areas
.row--our-practices-list {
  padding:80px 0 0;
  .PA--block-link {
    display:  block;
    margin-bottom: 40px;
    position: relative;
    color:#fff;
    text-decoration: none;

    &:before {
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      height: 225px;
      content: "";
    }
  }
  .icon-wBlueEllipse {
    position: absolute;
    top: -110px;
    left:50%;
    margin-left: -45px;
  }
  .PA--block-link-title {
    position: absolute;
    top: 64%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding-left: 100px;
    padding-right: 100px;
    &:after {
      width:60px;
      height:4px;
      content:"";
      background-color: #7dcba7;
    }

  }
}

//projects list
.current-projects-list {
  padding-top: 24px;
  padding-bottom: 90px;
  margin-top: 80px;

  .CPL--title {
    font-size: 28px;
    margin-bottom:26px;
    color: #28445f;
    font-weight: 700;
  }
  .CPL--project {
    font-size: 18px;
    line-height: 1.2;
    color: #007cb7;
  }
}
.past-projects-list {
  .PPL--title {
    font-size: 28px;
    margin-bottom:26px;
    color: #28445f;
    font-weight: 700;
  }
  .PPL--project {
    font-size: 18px;
    line-height: 1.2;
    color: #007cb7;
  }
}

.link-list {
  list-style-type: none;
}
.post-header {
  margin-bottom:60px;
  .post-practiceArea {
    color:#555;
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
  }
  .post-title {
    margin: 0 0 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid #c8e2ef;
  }
  .post-details {
    color: #28445f;
    font-weight: 700;
    font-size: 16px;
    .post-detail {
      display: inline-block;
      &:before {
        content:"";
        border-left:1px solid #53697f;
        height:1em;
        width: 1px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
        position: relative;
        top: 3px;
      }
      &:first-child:before {display: none;margin:0;}
    }
  }
}

article.post {
  padding:80px 0;
}
ul.posts {
  margin-left: 0;
  margin-bottom: 20px;
}
li.post {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 2px solid #c8e2ef;
  padding-bottom: 30px;
  .post-category {
    color:#000;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
  }
  .post-title {
    color: #007cb7;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .post-details {
    color: #28445f;
    font-weight: 700;
    font-size: 16px;
    .post-detail {
      display: inline-block;
      &:before {
        content:"";
        border-left:1px solid #53697f;
        height:1em;
        width: 1px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
        position: relative;
        top: 3px;
      }
      &:first-child:before {display: none;margin:0;}
    }
  }
  .post-description {
    font-size: 18px;
    color: #555;
    margin-top: 18px;
  }
}
.page-banner.practice-area {
  position: relative;
  .icon-wDarkEllipse {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    line-height: 100px;
  }
}


@media screen and (min-width: 40em) {
  .site-footer {
    text-align: left;
    .column {
      padding-top:45px;
      padding-bottom: 40px;
      ul.link-list {float: right;margin-bottom:0;}
    }
  }
  .home {
    .hero {
      .hero--content {padding-top:172px;}
      .allcaps {font-size: 50px;}
      p {font-size:21px;}
    }
    .practice-areas {
      .PA--content {
        padding-bottom:80px;
      }
      .PA--icon-list {
        margin-top:70px;
        margin-bottom:0;
      }
    }
  }
  .site {
    .button {min-width: 300px;}
  }




  .team-list-block {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media screen and (min-width: 76em) {
  .page {
    blockquote {
      margin-right: -230px;
      padding-right: 16px;
    }
  }
}

@media screen and (min-width: 80em) {
  .home {
    .practice-areas {
      .PA--content {
        padding-left:0;
        padding-right:0;
      }
    }
  }
}

@media screen and (min-width: 89em) {
  .page {
    &.site-header {
      background-repeat: repeat-x;
      background-size: contain;
    }
  }
}
