---
---

// Rad row
.row-chart {
  g.rad-row {
    rect.rad-row-background {
      fill: #edeeee;
    }

    rect.rad-row-value-background {
      fill: white;
    }

    text {
      font-size:14px;
      &.rad-row-name-text {
        fill:#2b2b2b;
        &:hover {
          fill: #0067b9;
        }
      }
      &.rad-row-value-text {
        fill: #848484;

        &.rad-row-negative {
          fill: #BD102B;
        }
      }
    }
  }
}
