---
---

// Rad row
.row-chart {
  g.rad-row {
    rect.rad-row-background {
      fill: #edeeee;
    }

    rect.rad-row-value-background {
      fill: white;
    }

    text {
      font-size: .75em;
      font-weight: 600;
      &.rad-row-name-text {
        fill:#2b2b2b;
        &:hover {
          fill: #0067b9;
        }
      }
      &.rad-row-value-text {
        fill: #848484;

        &.rad-row-negative {
          fill: #BD102B;
        }
      }
    }
  }
}

// Breakdown panel that includes the Countup number, pie, and row charts
.breakdown-panel {
  .left-column {
    .number-countup {
      font-size: 3.5em;
      font-weight: 600;
      color: #008fc2;
      line-height: .75;
    }

    .breakdown-title {
      color: #0c94c5;
      font-size: .8em;
      font-weight: 600;
      margin-top: -6px;
    }
  }

  .right-column {
    .breakdown-group-title {
      font-size: .7em;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
