.row-chart g.rad-row rect.rad-row-background {
  fill: #edeeee; }
.row-chart g.rad-row rect.rad-row-value-background {
  fill: white; }
.row-chart g.rad-row text {
  font-size: .75em;
  font-weight: 600; }
  .row-chart g.rad-row text.rad-row-name-text {
    fill: #2b2b2b; }
    .row-chart g.rad-row text.rad-row-name-text:hover {
      fill: #0067b9; }
  .row-chart g.rad-row text.rad-row-value-text {
    fill: #848484; }
    .row-chart g.rad-row text.rad-row-value-text.rad-row-negative {
      fill: #BD102B; }

#projects-by-practice-area .rad-row-name-text {
  cursor: pointer; }

#projects-by-region .rad-row-name-text:hover {
  fill: black !important; }
#projects-by-region .breakdown-value-title {
  margin-right: 16px; }

.breakdown-panel .left-column .number-countup {
  font-size: 4em;
  font-weight: 600;
  color: #008fc2;
  line-height: .75; }
.breakdown-panel .left-column .breakdown-title {
  color: #0c94c5;
  font-size: .8em;
  font-weight: 600;
  margin-top: -6px; }
.breakdown-panel .right-column {
  position: relative; }
  .breakdown-panel .right-column .breakdown-group-title {
    font-size: .7em;
    font-weight: 600;
    margin-bottom: 10px; }
  .breakdown-panel .right-column .breakdown-value-title {
    position: absolute;
    right: 17px;
    top: 0px;
    font-size: .7em;
    font-weight: 600;
    color: #848484; }
.breakdown-panel .breakdown-pie {
  margin-top: 5px; }

.projects-map {
  padding: 0;
  overflow-x: auto; }
  .projects-map .projects-chart {
    margin-top: 0; }

.text {
  font-size: 10px;
  text-transform: capitalize; }

#projects-choropleth {
  min-height: 300px;
  height: 300px;
  min-width: 600px;
  background: #F0F8FF;
  overflow: hidden; }
  #projects-choropleth svg path.country {
    stroke: white; }
  #projects-choropleth .zoom-controls-container {
    position: absolute;
    right: 30px;
    top: 10px; }
    #projects-choropleth .zoom-controls-container .reset-button {
      float: left;
      margin-right: 20px;
      background: white;
      padding: 0px 5px;
      cursor: pointer; }
      #projects-choropleth .zoom-controls-container .reset-button:hover {
        background: #ededed; }
    #projects-choropleth .zoom-controls-container .zoom-buttons {
      float: right;
      font-weight: 600;
      font-size: 1.5em;
      text-align: center; }
      #projects-choropleth .zoom-controls-container .zoom-buttons .zoom-button {
        background: white;
        padding: 0px 10px;
        line-height: 1.5em;
        cursor: pointer; }
        #projects-choropleth .zoom-controls-container .zoom-buttons .zoom-button:hover {
          background: #ededed; }
      #projects-choropleth .zoom-controls-container .zoom-buttons #zoom-out {
        border-top: 1px solid #ccc; }
  #projects-choropleth .legend .legend-title {
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase; }
  #projects-choropleth .legend .key-text {
    font-size: .8em; }

@media screen and (min-width: 50em) {
  #projects-choropleth {
    height: 460px; } }
@media screen and (min-width: 60em) {
  #projects-choropleth {
    height: 545px; } }
.hidden {
  display: none; }

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  font-size: 1em; }

svg.recharts-surface {
  overflow: visible; }

.yAxis .recharts-cartesian-axis-line {
  stroke: none; }

.xAxis .recharts-cartesian-axis-line {
  stroke: #ccc;
  stroke-width: 2px; }

.recharts-cartesian-axis-tick-line {
  stroke: none; }

.recharts-text.recharts-cartesian-axis-tick-value {
  font-size: .7em;
  font-weight: 600; }

.recharts-legend-item-text {
  font-size: .7em;
  font-weight: 600; }

li.recharts-legend-item:before {
  content: '' !important; }

.tt-content {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.97; }
  .tt-content .tt-title {
    font-weight: 600;
    border-bottom: 1px solid #bbb; }
  .tt-content .stack-slice-content {
    border-top: 1px solid #ccc;
    padding: 5px 5px 0px 5px; }
    .tt-content .stack-slice-content .stack-slice-name {
      position: relative;
      top: 3px;
      margin-left: 10px; }
    .tt-content .stack-slice-content .stack-slice-value {
      font-size: 1.4em;
      line-height: 1.4em; }
  .tt-content svg {
    vertical-align: middle; }

.page-selector {
  border: 2px solid #c8e2ef;
  text-align: center;
  margin: auto; }
  .page-selector .page-prev-button, .page-selector .page-next-button {
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
    color: #007cb7;
    cursor: pointer;
    line-height: 1em;
    padding: 13px 0px 16px 0px; }
    .page-selector .page-prev-button:hover, .page-selector .page-next-button:hover {
      background: #dedede; }
  .page-selector .current-page {
    padding-top: 15px;
    text-transform: uppercase; }

.pie-sizebox {
  width: 100%;
  height: 40%; }

.row-chart-sizebox {
  width: 100%;
  min-height: 300px; }

.stacked-bar-chart-sizebox {
  width: 100%;
  min-height: 350px; }
