<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="site">
      {{ content }}

      {% include footer.html %}
    </div>
    
    <script src="{{ "/assets/js/vendor/jquery.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/what-input.js" | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
    <!--TO FIX, something is messed up with this version, try redownloading
    script src="{{ "/assets/js/foundation.min.js" | relative_url }}"></script-->
    <script src="{{ "/assets/js/app.js" | relative_url }}"></script>
  </body>

</html>
