---
layout: default
---

{% include header.html subtitle="Our Insights" %}
<div class="site-content" id="site_content" aria-label="Content">
	<div class="page">


		<div class="dropdown-container show-for-small-only">
			<div class="row row--gutters column">
        <button class="button button-dropdown" type="button" data-toggle="insights-dropdown">
        	<span class="text">Latest</span>
        	<span class="fa fa-chevron-down" aria-hidden="true"></span>
        </button>
        <div class="dropdown-pane sync-with-tabs" id="insights-dropdown" data-position="bottom" data-alignment="left" data-dropdown data-close-on-click="true" data-sync-target="insights-tabs">
          <ul>
          	<li><a href="/insights/">Latest</a></li>
          	<li><a href="/news/">News</a></li>
          </ul>
        </div>
      </div>
    </div>

		<div class="tabs-container show-for-medium">
			<ul class="tabs tabs-gutter tabs-4-up" data-tabs id="insights-tabs"  data-deep-link="true" data-update-history="true">
		    <li class="tabs-title is-active">
		      <a href="/insights/" aria-selected="true"><span class="tabs-title-text">Latest</span></a>
		    </li>
		    <li class="tabs-title">
		      <a href="/news/"><span class="tabs-title-text">News</span></a>
		    </li>
			</ul>
		</div>
	  <div class="content">
	  	<div class="tabs-content" data-tabs-content="insights-tabs">
			  <div class="tabs-panel is-active" id="latest">
			  	<div class="row row--gutters column">
			  		<ul class="featured-insights clearfix">
		          {% for post in site.posts limit:2 %}
		            <li>
		              <span class="post-label">{{ post['Practice Area'] | first | default: "Corporate Update" }}</span>
		              {% if post['Teaser Image'].size > 0 %}
		                <img src="{{ post['Teaser Image'] | relative_url }}" alt="Teaser Image" />
		              {% else %}
		                <span class="post-missing-teaser"></span>
		              {% endif %}
		              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
		              <span class="post-meta">{{ post['Author'] }}</span>
		            </li>
			        {% endfor %}
		        </ul>


				    <ul class="posts posts-border-top">
					    {% for post in site.posts offset:2 %}
					      <li class="post">
					    		{% if post['Category'].size > 0 %}
					    			<div class="post-category">{{ post['Category'] }}</div>
					    		{% endif %}
					    		<a href="{{ post.url | relative_url }}" class="post-title">{{ post.title }}</a>
					    		<div class="post-details">
					    			{% if post['Author'].size > 0 %}
					    				<div class="post-detail">By {{ post['Author'] }}</div>
					    			{% endif %}
					    			<div class="post-detail">{{ post.date | date: "%B %d, %Y" }}</div>
					    		</div>
					    	</li>
					    {% endfor %}
				    </ul>
				  </div>
			  </div>
			</div>
	  </div>
	</div>
</div>
