---
layout: default
---

<article class="page">

  <header class="header">
  	{% if page.navigation_group == "About Us" %}
	    <h1 class="title">{{ page.navigation_group | escape }}</h1>
	    <h2 class="subtitle">{{ page.title | escape }}</h2>
    {% else %}
    	<h2 class="subtitle">{{ page.title | escape }}</h2>
    {% endif %}
  </header>

  {% if page.navigation_group == "About Us" %}
	  <ul class="tabs">
	    {% assign aboutNav_pages = site.html_pages | sort: 'position' | where:'navigation_group','About Us' %}
	    {% for p in aboutNav_pages %}
	      <li>
	        <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
	          {{ p.title }}
	        </a>
	      </li>
	    {% endfor %}
		</ul>
	{% endif %}

  <div class="content">
    {{ content }}

    {% if page['Has Team List'] == true %}
    	<ul>
    	{% for member in site.our-team %}
          <li>
            <a href="{{ member.url | relative_url }}">
            	{{ member['Title'] | escape }}
            	<img src="{{ member['Headshot Image'] | relative_url }}"/>
            	{{ member['Job Title'] | escape }}
           	</a>
          </li>
      {% endfor %}
    	</ul>
		{% endif %}    
  </div>

</article>

