---
layout: default
---

<article class="page">

	<header class="header">
		<h1 class="title">
			{% if page['Title'] %}
				{{ page['Title']}}
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>
		<h2 class="subtitle">Current Projects</h2>
	</header>
	<ul class="tabs" data-tabs id="tabs-{{ page.position | strip }}"  data-deep-link="true" data-update-history="true">
    <li class="tabs-title is-active">
      <a href="#current-projects" aria-selected="true">Current Project</a>
    </li>
    <li class="tabs-title">
      <a href="#past-projects">Past Project</a>
    </li>
    <li class="tabs-title">
      <a href="#reports-publications">Reports &amp; Publications</a>
    </li>
    <li class="tabs-title">
      <a href="#insights">Insights</a>
    </li>
	</ul>

  <div class="content">
  	<div class="tabs-content" data-tabs-content="tabs-{{ page.position | strip }}">
		  <div class="tabs-panel is-active" id="current-projects">
		    {% if page['Title'] %}
					<h1>{{ page['Title']}}</h1>
				{% else %}
					<h1>{{ page.title }}</h1>
				{% endif %}

				{{ content }}
		  </div>
		  <div class="tabs-panel" id="past-projects">
		    <h3>Past Projects</h3>

		    <ul class="row small-up-1 medium-up-2">
		    	<li class="column column-block team-list-block">add list</li>
		    	<li class="column column-block team-list-block">add list</li>
		    	<li class="column column-block team-list-block">add list</li>
		    	<li class="column column-block team-list-block">add list</li>
		    </ul>
		  </div>
		  <div class="tabs-panel" id="reports-publications">
		    <ul class="posts">
		    	<li class="post">
		    		<span class="post-category">Region</span>
		    		<span class="post-title">Title for the report/publication</span>
		    		<span class="post-details">
		    			<span class="post-detail">2011</span>
		    			<span class="post-detail">U.S. Agency for Internation Development (2001-2002)</span>
		    		</span>
		    		<span class="post-description">Duis aliquet ornare blandit. Aenean tristique, ipsum id pellentesque venenatis, tellus risus rutrum ligula, sit amet ultrices dolor erat tempus quam.</span>
		    	</li>
		    </ul>
		  </div>
		  <div class="tabs-panel" id="insights">
		    <ul class="posts">
		    	<li class="post">
		    		<span class="post-category">Topic Area/Region/Category</span>
		    		<span class="post-title">Title for the article, post or report/publication</span>
		    		<span class="post-details">
		    			<span class="post-detail">By John Smith</span>
		    			<span class="post-detail">March 17, 2017</span>
		    		</span>
		    	</li>
		    </ul>
		  </div>
		</div>
  </div>

</article>

