---
layout: default
---

{% if page['Title'].size > 0 %}
	{% assign header_title = page['Title'] %}
{% else %}
	{% assign header_title = page.title %}
{% endif %}
{% include header.html subtitle=header_title %}
	<div class="site-content" id="site_content" aria-label="Content">
		<div class="page">
			<div class="content">
		  	<div class="row row--gutters column">
					<h1 class="page-title">{{ page['Map Header'] }}</h1>
					<p>{{ page['Map Text'] }}</p>
				</div>
				<div class="background-mapBlue">
					<div class="row column projects-map">
						<div class="projects-chart">
							<div id="projects-choropleth">
								<div class="zoom-controls-container">
									<div class="reset-button">reset</div>
									<div class="zoom-buttons">
										<div id="zoom-in" class="zoom-button">+</div>
										<div id="zoom-out" class="zoom-button">-</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row column medium-16 large-12 projects-solutions-countries">
					<h2 class="projects-section-title">{{ page['Donut Header'] }}</h2>
					<p class="slightly-smaller">{{ page['Donut Text'] | strip | markdownify }}</p>
					<div class="row">
						<div class="column small-16 medium-8">
							<div class="projects-chart right-separator-medium">
								<div id="projects-by-practice-area" style="min-height:250px;max-height:330px;">
									<!-- added max-height to remove overflow with fixed chart height -->
								</div>
							</div>
						</div>
						<div class="column small-16 medium-8">
							<div class="regions-chart">
								<div id="projects-by-region" style="min-height:250px;max-height:330px;">
									<!-- added max-height to remove overflow with fixed chart height -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="background-lighterGray">
					<div class="row column medium-14 large-12 projects-partners">
						<h2 class="projects-section-title">{{ page['Partners Header'] }}</h2>
						<div class="row align-center align-middle hide-for-large">
							<div class="small-6 medium-4 column">
								<img src="/assets/images/logo-usaid.png" alt="logo: USAID" title="USAID"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-department-of-state.png" alt="logo: Department of State" title="Department of State"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-mcc.png" alt="logo: Millennium Challenge Corporation" title="Millennium Challenge Corporation"/>
							</div>
							<div class="small-6 medium-4 column">
								<img src="/assets/images/logo-world-bank.png" alt="logo: The World Bank" title="The World Bank"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-imf.png" alt="logo: International Monetary Fund" title="International Monetary Fund"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-dept-of-labor.png" alt="logo: Department of Labor" title="Department of Labor"/>
							</div>
							<div class="small-6 medium-4 column">
								<img src="/assets/images/logo-fema.png" alt="logo: Department of Homeland Security/FEMA" title="Department of Homeland Security/FEMA"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-dept-of-education.png" alt="logo: Department of Education" title="Department of Education"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-idb.png" alt="logo: Inter-American Development Bank" title="Inter-American Development Bank"/>
							</div>
							<div class="small-6 medium-4 column">
								<img src="/assets/images/logo-ftc.png" alt="logo: Federal Trade Commission" title="Federal Trade Commission"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-fafaa.png" alt="logo: Government of Puerto Rico – Fiscal Agency and Financial Authority" title="Government of Puerto Rico – Fiscal Agency and Financial Authority"/>
							</div>
							<div class="small-5 medium-4 column">
								<img src="/assets/images/logo-usda.png" alt="logo: Department of Agriculture (USDA)" title="Department of Agriculture (USDA)"/>
							</div>
						</div>

						<div class="show-for-large">
							<div class="row align-center align-middle">
								<div class="column">
									<img src="/assets/images/logo-usaid.png" alt="logo: USAID" title="USAID"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-department-of-state.png" alt="logo: Department of State" title="Department of State"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-mcc.png" alt="logo: Millennium Challenge Corporation" title="Millennium Challenge Corporation"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-world-bank.png" alt="logo: The World Bank" title="The World Bank"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-imf.png" alt="logo: International Monetary Fund" title="International Monetary Fund"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-dept-of-labor.png" alt="logo: Department of Labor" title="Department of Labor"/>
								</div>
							</div>
							<div class="row align-center align-middle">
								<div class="column">
									<img src="/assets/images/logo-fema.png" alt="logo: Department of Homeland Security/FEMA" title="Department of Homeland Security/FEMA"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-dept-of-education.png" alt="logo: Department of Education" title="Department of Education"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-idb.png" alt="logo: Inter-American Development Bank" title="Inter-American Development Bank"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-ftc.png" alt="logo: Federal Trade Commission" title="Federal Trade Commission"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-fafaa.png" alt="logo: Government of Puerto Rico – Fiscal Agency and Financial Authority" title="Government of Puerto Rico – Fiscal Agency and Financial Authority"/>
								</div>
								<div class="column">
									<img src="/assets/images/logo-usda.png" alt="logo: Department of Agriculture (USDA)" title="Department of Agriculture (USDA)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row column medium-16 large-12 projects-contracts">
					<h2 class="projects-section-title">{{ page['Bar Chart Header'] }}</h2>
					<div class="slightly-smaller">{{ page['Bar Chart Text'] | strip | markdownify }}</div>

					<div class="show-for-medium-screen">
						<h6 class="contracts-chart-title">Contract Value by Region &amp; Practice Area</h6>
						<div class="contracts-section">
							<div id="contract-value" style="min-height:300px;"></div>
						</div>
					</div>
					<div class="show-for-medium-screen-only">
						<h6 class="contracts-chart-title">Contract Value by Region &amp; Practice Area</h6>
						<div class="note"><span class="fa fa-note" aria-hidden="true"></span> chart only available on large screen sizes</div>
					</div>
				</div>
				<div class="background-darkBlue">
					<div class="row row--gutters column projects-contact-us">
						<h2>Thirty Years of Solutions</h2>
						<h3>Partner With Us.</h3>

						<div class="row">
							<div class="column small-16 medium-11">
								<p>We work with agencies, organizations, and businesses to achieve data-driven solutions that build capacity, strengthen partnerships, and address complex policy challenges. We'd love to work with you, too.</p>
							</div>
							<div class="column small-16 medium-5">
								<a href="/about/contact-us/" class="button button-inverse">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
				<div id="project-search"></div>
		  </div>
		</div>
	</div>

<link rel="stylesheet" href="{{ "/assets/css/visualizations.css" | relative_url }}">
<script src="{{ "/assets/brunch-compiled/node-modules.js" | relative_url }}"></script>
<script src="{{ "/assets/brunch-compiled/projects-bundle.js" | relative_url }}"></script>
<script>
var JEKYLL_DATA = {}
var PROJECTS_DATA = []
{% for project in site.projects %}
	var dataObject = {
		url: "{{project['id']}}"
	}
	{% for column in site.data.project_column_names %}
		{% assign columnKey = column['key'] %}
		dataObject["{{columnKey}}"] = {{project[columnKey] | jsonify}}
	{% endfor %}
	PROJECTS_DATA.push(dataObject)
{% endfor %}

var PROJECT_COLUMN_NAMES = {{site.data.project_column_names | jsonify}}
var ENUMERATED_COLUMN_NAMES = {}
PROJECT_COLUMN_NAMES.forEach(function(column) {
	ENUMERATED_COLUMN_NAMES[column['enumName']] = column['key']
})
{% assign practiceAreas = site.data.project_column_names | where:"type","practice_area" %}
var PRACTICE_AREAS = {{ practiceAreas | jsonify }}
var ENUMERATED_PRACTICE_AREAS = {}
PRACTICE_AREAS.forEach(function(column) {
	ENUMERATED_PRACTICE_AREAS[column['enumName']] = column
})
JEKYLL_DATA = {
	projectsData: PROJECTS_DATA,
	projectColumnNames: PROJECT_COLUMN_NAMES,
	enumeratedColumnNames: ENUMERATED_COLUMN_NAMES,
	enumeratedPracticeAreas: ENUMERATED_PRACTICE_AREAS
}
</script>

<script>require('assets/js/projects/entry.js')</script>
