---
layout: default
---

{% if page['Practice Area'].size > 0 %}
	{% assign header_title = page['Practice Area'] | first %}
{% endif %}
{% if page['Is Active'] == true %}
	{% assign subheader_title = 'Current Project' %}
{% else %}
	{% assign subheader_title = 'Past Project' %}
{% endif %}
{% include header.html title=header_title subtitle=subheader_title %}
	<div class="site-content" id="site_content" aria-label="Content">
		<div class="page">
			<div class="content">
		  	<div class="row row--gutters">
		  		<div class="column">
		  			<div class="post-header">
		  				<a href="#" onclick="window.history.back();" class="back-link"><span class="fa fa-long-arrow-left" aria-hidden="true"></span>Back to the Previous Page</a>
		  				{% if page['Practice Area'].size > 0 %}
		  					<span class="post-category">{{ page['Practice Area'] | first }}</span>
		  				{% endif %}
							{% if page['Title'].size > 0 %}
								<h1 class="post-title page-title">{{ page['Title']}}</h1>
							{% else %}
								<h1 class="post-title page-title">{{ page.title }}</h1>
							{% endif %}
							<div class="post-details">
								
								{% if page['Region'].size > 0 %}
			  					<span class="post-detail">{{ page['Region'] }}</span>
			  				{% endif %}
			  				
			  				{% if page['Client'].size > 0 %}
			  					<span class="post-detail">{{ page['Client'] }}</span>
			  				{% endif %}

			  				{% if page['Year Started'].size > 0 %}
			  					<span class="post-detail">{{ page['Year Started'] }}</span>
			  				{% endif %}
			  				
			  				{% if page['Year Ended'].size > 0 %}
			  					<span class="post-detail">{{ page['Year Ended'] }}</span>
			  				{% endif %}
							</div>
						</div>
						{% if page['Banner Image'].size > 0 %}
							<img class="page-banner" src="{{ page['Banner Image'] }}"/>
						{% endif %}
						{% if page['Highlight'].size > 0 %}
							<h2 class="page-highlight">{{ page['Highlight'] }}</h2>
						{% endif %}

				    {{ content }}


				    {% if page['Related Document Links'].size > 0 %}
				    	<h3>Related Documents:</h3>
				    	<ul>
				    	{% assign links = page['Related Document Links'] %}
				    	{% for link in links %}
		  					<li><a href="{{ link }}">{{ link }}</a></li>
		  				{% endfor %}
		  				</ul>
		  			{% endif %}
			  	</div>
			  </div>
		  </div>

		</div>
	</div>
