---
layout: default
---

{% if page['Title'].size > 0 %}
	{% assign header_title = page['Title'] %}
{% else %}
	{% assign header_title = page.title %}
{% endif %}
{% include header.html subtitle=header_title %}
	<div class="site-content" id="site_content" aria-label="Content">
		<div class="page">
			<div class="content">
		  	<div class="row row--gutters">
		  		<div class="column">
						{% if page['Title'].size > 0 %}
							<h1 class="page-title">{{ page['Title']}}</h1>
						{% endif %}
						{% if page['Banner Image'].size > 0 %}
							<img class="page-banner" src="{{ page['Banner Image'] }}"/>
						{% endif %}
						{% if page['Highlight'].size > 0 %}
							<h2 class="page-highlight">{{ page['Highlight'] }}</h2>
						{% endif %}

				    {{ content }}
						<div id="row-chart-practice-area"></div>
			  	</div>
			  </div>
		  </div>

		</div>
	</div>
<script src="{{ "/assets/brunch-compiled/node-modules.js" | relative_url }}"></script>
<script src="{{ "/assets/brunch-compiled/projects-bundle.js" | relative_url }}"></script>
<script>require('assets/js/projects/entry.js')</script>
